Dockerfile
**/build

bin/
include/
lib/

.git/
.gitignore
.gitmodules
.vscode

README.md


Dataset-1/coreutils-8.32
Dataset-2
Dataset-3
Dataset-4
Dataset-5
klee-uclibc
artifacts_bitcode
benchmark
bitcode_files
