[submodule "LLVM_Passes"]
	path = "LLVM_Passes"
	url = "git@github.com:Mohannadcse/LLVM_Debloating_Passes.git"
 
[submodule "partial-interpretation"]
	path = partial-interpretation
	url = git@github.com:Mohannadcse/Partial_interpreter.git
